@model IEnumerable<WepSiteBanHang.Models.NhaCungCap>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/LayoutAD/AdinLayout.cshtml";
}



<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Tên nhà cung cấp")
        </th>
        <th>
            @Html.DisplayName("Địa chỉ")
        </th>
        <th>
            @Html.DisplayName("Email")
        </th>
        <th>
            @Html.DisplayName("Điện thoại")
        </th>
        <th>
            @Html.DisplayName("Số Fax")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenNCC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DienThoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fax)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.MaNCC }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.MaNCC }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.MaNCC })
        </td>
    </tr>
}

</table>
