<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin - Quản Lý</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/datepicker3.css" rel="stylesheet">
    <link href="~/Content/styles.css" rel="stylesheet">

    <!--Icons-->
    <script src="/Scripts/lumino.glyphs.js"></script>

    @*<script src="~/tinymce/tinymce.min.js"></script>
        <script>tinymce.init({ selector: 'textarea' });</script>*@

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index","TrangChuAdmin")"><span>Trang Chủ </span>Admin</a>
                <ul class="user-menu">
                    @Html.Action("HienThiTK", "DangNhap")
                </ul>
            </div>

        </div><!-- /.container-fluid -->
    </nav>

    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
        <form role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
        </form>
        <ul class="nav menu">
            <li class="active"><a><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Quản Lý </a></li>
            <li><a href="@Url.Action("SanPham","TrangChuAdmin")"><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"></use></svg> Sản Phẩm </a></li>
            <li><a href="@Url.Action("NhaCC","TrangChuAdmin")"><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"></use></svg> Nhà Cung Cấp </a></li>
            <li><a href="@Url.Action("NhaSX","TrangChuAdmin")"><svg class="glyph stroked line-graph"><use xlink:href="#stroked-line-graph"></use></svg> Nhà Sản Xuất </a></li>
            <li><a href="@Url.Action("LoaiSP","TrangChuAdmin")"><svg class="glyph stroked table"><use xlink:href="#stroked-table"></use></svg> Loại Sản Phẩm </a></li>
            <li><a href="forms.html"><svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"></use></svg> Hóa Đơn </a></li>
            <li><a href="@Url.Action("ThanhVien","TrangChuAdmin")"><svg class="glyph stroked app-window"><use xlink:href="#stroked-app-window"></use></svg> Thành Viên </a></li>
            <li><a href="@Url.Action("LoaiThanhVien","TrangChuAdmin")"><svg class="glyph stroked star"><use xlink:href="#stroked-star"></use></svg> Loại Thành Viên </a></li>

            <li role="presentation" class="divider"></li>

        </ul>

    </div><!--/.sidebar-->
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        @RenderBody()
    </div>

    <!--/.main-->

    <script src="/Scripts/jquery-1.11.1.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/chart.min.js"></script>
    <script src="/Scripts/chart-data.js"></script>
    <script src="/Scripts/easypiechart.js"></script>
    <script src="/Scripts/easypiechart-data.js"></script>
    <script src="/Scripts/bootstrap-datepicker.js"></script>
    <script>
            $('#calendar').datepicker({
            });

            !function ($) {
                $(document).on("click", "ul.nav li.parent > a > span.icon", function () {
                    $(this).find('em:first').toggleClass("glyphicon-minus");
                });
                $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
            }(window.jQuery);

            $(window).on('resize', function () {
                if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
            })
            $(window).on('resize', function () {
                if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
            })
    </script>
</body>
</html>
