@model IEnumerable<WepSiteBanHang.Models.LienHe>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/LayoutAD/AdinLayout.cshtml";
}


<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
<table class="table">
    <tr>
        
     
        <th>
            @Html.DisplayName("Họ tên")
        </th>
        <th>
            @Html.DisplayName("Điện thoại")
        </th>
        <th>
            @Html.DisplayName("Địa chỉ")
        </th>
        <th>
            @Html.DisplayName("Email")
        </th>
        <th>
            @Html.DisplayName("Yêu cầu")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
       
        <td>
            @Html.DisplayFor(modelItem => item.HoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DienThoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YeuCau)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.Id }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
